/*Botón*/
.drop-button{
    background-color:  lightslategrey;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*Botón hover y focus*/
.drop-button:hover, drop-buttton:hover{
    background-color: #2EABAB;
}

/*Posición del contenedor*/
.dropdown{
    position: relative;
    display: inline-block;
}

/*submenu*/
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #207878;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1
}
.show {
    display: block;
}